SDF/
SDF_old/
obj/
.DS_Store
main
read_test
growth
generate_ffts
cutout_fft
calculate_diffusion
FFT_to_spectrum
compress_distributions
test_reading_code.cpp
calculate_growth
Code.xcworkspace
*.txt
Derivations.*
*.dSYM
html/
latex/
profiler/
*.dat
*.bak
*.log
files/l1/
files/2dtest/
files/tmp_tests/
callgrind*
*.tgz
*.png
*.dump
*.old
*.swp
SDF/C/lib/libsdfc.a
