SDF/
obj/
html/
latex/
files/l1/
files/2dtest/
files/tmp_tests/
main
generate_ffts
cutout_fft
calculate_diffusion
FFT_to_spectrum
compress_distributions
calculate_growth
extract_field
*.txt
Derivations.*
*.dat
*.bak
*.log
*.tgz
*.png
*.dump
*.old
SDF/C/lib/libsdfc.a
